.home-logo{
    display: flex;
    padding-left: var(--sidebar-left);
    background: var(--background-primary-alt);
    border-bottom: 1px solid var(--border);
}

.home-logo h1{
    font-size: 3rem;
}

.home-header{
    /*for right alignment*/
    flex-grow: 1;
    justify-content: flex-end;
    border-bottom: 1px solid var(--border);
    display: flex;
    margin-right: 2rem;
}

.icon-text-wrapper{
    margin: 0 1rem;
}

.icon-wrapper{
    display: flex;
    justify-content: center;
}

.icon-wrapper svg,
.sidebar-icon-wrapper svg{
    fill: var(--text-normal);
}

.sidebar-link{
    display: flex;
    align-items: center;
    height: 3.5rem;
    margin-left: 1.25rem;
    font-size: 1.25rem;
}

.sidebar-icon-wrapper{
    transform: scale(0.6);
}

hr{
    margin: 0.75rem 0;
}

.home-wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: auto 1fr;
}

.home-sidebar{
    background: var(--background-primary-alt);
    /* border-right: 1px solid var(--border); */
}